.wrap {
  text-align: center;
  padding: 20px 0;
}

.wrap img {
  margin: 0;
  vertical-align: middle;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  background: rgba(0, 0, 0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
